{% extends "base.html" %}
{% block title %}JE Rules Query App{% endblock %}
{% block content %}

<div class="header-block text-center text-md-left w-100">
    <div class="container">
        <h2 class="header-text header-text-margin-no-left text-center">Join Engine Rules Query Tool</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="container">   
        <div class="row">
            <div class="col-2">
                <h4>Filters:</h4>
            </div>
            <div class="col-2">
                <h5>Environment</h5>
                    <select class="form-control"  id='envList' name='envLIst'>
                        <option value="prod">Prod</option>
                        <option value="uat">UAT</option>
                    </select>
            </div>
            <div class="col-2">
                <h5>Connector</h5>
                <select class="form-control"  id='conList' name='conList' >
                    <option value="allCon">*</option>
                </select>
            </div>
            <div class="col-2">
                <h5>Direction</h5>
                <select class="form-control"  id='dirList' name='dirList' >
                    <option value="both">*</option>
                    <option value="toMV">ToMV</option>
                    <option value="toCV">ToCV</option>
                </select>
            </div>
            <div class="col-2">
                <h5>Attribute</h5>
                <select class="form-control"  id='attrList' name='attrList' >
                    <option value="allAttr">*</option>
                </select>
            </div>
            <div class="col-2">
                <h5>Flow rule</h5>
                <select class="form-control"  id='flowRuleList' name='flowRuleList' >
                    <option value="allRules">*</option>
                </select>
            </div>
        </div> <!--row-->
    </div> <!--container-->
    <div class="container">  
        <div class="row mt-3"><h2> </h2></div>
    </div>
    <div class="container">  
        <div class="row">
            <div class="col-2">
                <h4>Actions:</h4>
            </div>
            <div class="col-3">
                <button id="constructedAttributes" class="btn btn-primary">Constructed Attributes</button>
            </div>
            <div class="col-2">
                    <button id="applyFilters" class="btn btn-success">Apply Filters</button>
            </div>
            <div class="col-5">
                <div class="form-check">
                    <input class="form-check-input" style="width: 30px; height: 30px;" type="checkbox" value="" id="chkShowAttributes">
                    <label class="form-check-label" for="flexCheckDefault" style="font-size:20px; padding-left: 15px; padding-top: 5px;">
                        Show Attributes
                    </label>
                </div>
            </div>
        </div>
    </div> <!--container-->
    <div class="container  mt-4">  
        <div class="row">
            <div class="col-1">
                <h4>Output:</h4>
            </div>
            <div class="col-7">
            </div>
            <div class="col-3" id = "viewToggle">
            </div>
            <div class="col-1">
                <button id="copyOutput" class="btn btn-warning" style="margin-bottom :2px !important">Copy</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="output-box">
            <p id="outputText"> </p>
            <div id="je_rules" class="demo"></div>
        </div>  
    </div>   
</div>

{% endblock %}


{% block extra_js %}
<script src="{{ url_for('static', filename='myjs.js') }}"></script></script>

{% endblock %}
